html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000000c0;
    scroll-behavior: smooth;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

.header-row {
    padding: 3em 0;
}

.section-header {
    text-align: center;
    font-weight: 500;
}

.navbar {
    height: 0;
    padding: 0;
}

.nav-link {
    font-size: 25px;
    color: #fff!important;
    padding: 15px!important;
}