html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000000c0;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

.header-row {
    padding: 5em 0;
}

.section-header {
    text-align: center;
    font-weight: 500;
}

