html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000000c0;
    scroll-behavior: smooth;
}


.header-row {
    padding: 3em 0;
}

.section-header {
    text-align: center;
    font-weight: 500;
}

.navbar {
    height: 0;
    padding: 0;
}

.nav-link {
    font-size: 25px;
    color: #fff!important;
    padding: 15px!important;
}

#contact-link:hover {
    cursor: pointer;
}

/* Messages */

.message-container {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
}

#message-container-id {
    transform: 0.3s;
}

.custom-toast {
    overflow: visible;
}


.toast-header {
    font-size: x-large;
}

.toast-body {
    font-size: large;
}

.toast-capper {
    height: 2px;
}