.project-image {
  border-radius: 105px;
}

.page-wrapper {
  display: block;
  padding-bottom: 15px;
}

.project-description {
  display: block;
}

h2 {
  font-size: 25px;
  padding-top: 15px;
}

.site {
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.site:hover {
  box-shadow: 0px 0px 28px 5px #0c053e26;
  
}